{
  "rabbitmq": {
    "ssl": {
      "cert_chain_file": "{{ sensu_client_rabbitmq_ssl_cert }}",
      "private_key_file": "{{ sensu_client_rabbitmq_ssl_key }}"
    },
  "host": "{{ sensu_client_rabbitmq_host }}",
    "port": "{{ sensu_client_rabbitmq_port }}",
    "vhost": "{{ sensu_client_rabbitmq_vhost }}",
    "user": "{{ sensu_client_rabbitmq_user }}",
    "password": "{{ sensu_client_rabbitmq_password }}"
  }
}
